@media (max-width: 1015px) {
  .BodyContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imageViewer {
    width: 100%;
    max-width: 500px;
    position: relative;
  }
  .description {
    width: 100%;
    max-width: 500px;
  }
  .AddToCart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .AddToCartBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0px 10px 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .imagePicker {
    display: none;
  }
  .productImage {
    max-width: 100%;
  }
  .backBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nextBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1015px) {
  .BodyContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 50px;
  }
  .imageViewer {
    width: 50%;
    max-width: 500px;
  }
  .description {
    width: 40%;
    margin-left: auto;
  }
  .AddToCart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .AddToCartBtn {
    padding: 10px 50px 10px 50px;
    margin-left: 10px;
  }
  .imagePicker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .productImage {
    max-width: 100%;
    border-radius: 15px;
    cursor: pointer;
  }
  .backBtn {
    display: none;
  }
  .nextBtn {
    display: none;
  }
}

a {
  cursor: pointer;
}

.BodyContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backBtn {
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 2px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backBtn img {
  width: 12px;
  height: 18px;
}

.nextBtn {
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: 2px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: white;
}

.nextBtn img {
  width: 12px;
  height: 18px;
}

.imagePicker {
  margin-top: 10px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.imagePicker img {
  border-radius: 15px;
  max-width: 100px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.clicked {
  border: 4px solid #ff7d1a;
}

.notclicked {
  border: 4px solid transparent;
}

.description h1 {
  font-size: 50px;
}

.description p {
  font-size: 16px;
  width: 75%;
  font-weight: bolder;
  line-break: strict;
  line-height: 30px;
}

.description h4 {
  color: #ff7d1a;
  text-transform: uppercase;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price h3 {
  padding: 5px;
  font-size: 35px;
}

.discount {
  padding: 5px;
  border-radius: 5px;
  color: #ff7d1a;
  background-color: #ffede0;
  margin-left: 10px;
}

.AddToCartBtn {
  background-color: #ff7d1a;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 15px;
}

.AddToCartBtn:hover {
  opacity: 0.7;
}

.quantity {
  background-color: #f7f8fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quantity a {
  padding: 10px 20px 10px 20px;
  color: #ff7d1a;
  text-decoration: none;
}

.quantity span {
  padding: 10px 20px 10px 20px;
}

.showSim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.closeBtn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 490px;
}
/*# sourceMappingURL=Body.css.map */