@media(max-width:1015px) {
    .BodyContainer{
        display: flex;
        flex-direction: column;
    }
    .imageViewer{
        width: 100%;
        max-width: 500px;
        position: relative;
    }
    .description{
        width: 100%;
        max-width: 500px;
    }
    .AddToCart{
        display: flex;
        flex-direction: column;
    }
    .AddToCartBtn{
        display: flex;
        justify-content: center;
        padding:10px 0px 10px 0px ;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .imagePicker{
        display: none;
    }
    .productImage{
        max-width: 100%;
        
    }
    .backBtn{
        display: flex;

    }
    .nextBtn{
        display: flex;

    }
}
@media(min-width:1015px) {
    .BodyContainer{
        display: flex;
        flex-direction: row;
        padding: 50px;
    }
    .imageViewer{
        width: 50%;   
        max-width: 500px;
        
    }
    .description{
        width: 40%;
        margin-left: auto;
    }
    .AddToCart{
        display: flex;
        flex-direction: row;
    }
    .AddToCartBtn{
        padding:10px 50px 10px 50px ;
        margin-left: 10px;
    }
    .imagePicker{
        display: flex;
        
    }
    .productImage{
        max-width: 100%;
        border-radius: 15px;
        cursor: pointer;
    }
    .backBtn{
        display: none;
    }
    .nextBtn{
        display: none;
    }
}
a{
    cursor: pointer;
}
.BodyContainer{
    align-items: center;

}
.backBtn{
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 2px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    justify-content: center;
    align-items: center;
    img{
        width: 12px;
        height: 18px;
    }
}

.nextBtn{
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 2px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    justify-content: center;
    align-items: center;
    img{
        width: 12px;
        height: 18px;
    }
    border-radius: 20px;
    background-color: white;
}

.imagePicker{
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
    
    img{
        border-radius: 15px;
        max-width: 100px;
        aspect-ratio: 1/1;
        object-fit: cover;
        animation-name: fade;
        animation-duration: 1.5s;

    }
}
.clicked{
    border: 4px solid hsl(26, 100%, 55%);
}
.notclicked{
    border: 4px solid transparent;
}
.description{
    h1{
        font-size: 50px;
    }
    p{
        font-size: 16px;
        width: 75%;
        font-weight: bolder;
        line-break: strict;
        line-height: 30px;
    }
    h4{
        color: hsl(26, 100%, 55%);
        text-transform: uppercase;
    }
}
.price{
    display: flex;
    align-items: center;
    h3{
        padding: 5px;
        font-size: 35px;
    }
}
.discount{
    padding: 5px;
    border-radius: 5px;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    margin-left: 10px;
}
.AddToCartBtn{
    background-color: hsl(26, 100%, 55%);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    &:hover{
        opacity: 0.7;
    }
}
.quantity{
    background-color: hsl(223, 64%, 98%);
    display: flex;
    a{
        padding:10px 20px 10px 20px;
        color:hsl(26, 100%, 55%);
        text-decoration: none;
    }
    span{
        padding:10px 20px 10px 20px;
    }
    border-radius: 10px;
    justify-content: space-between;
}


  

  .showSim {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content:center;        
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    top: 0px;
    left: 0px;    
    background: rgba(0, 0, 0, 0.6);
    padding:20px;
    align-items:center;
  }
  .closeBtn{
      width: fit-content;
      margin-left: 490px;
  }